<h1>滝フォトとは？</h1>
<p class="mb-4">　当サイト「滝フォト」はユーザーの皆さんが撮影した渾身の滝写真を投稿し、滝好きな同志たちとその写真の感動を共有することを目的としたサイトです。</p>

<h2>ユーザー登録をしよう</h2>
<p>　当サイトのご利用は初めてですか？まずはユーザー登録をお願いします！ユーザー登録をすることで、下記のような当サイトの全ての機能が利用可能となります。</p>
<ul class="ml-2 mb-4">
  <li>自慢の滝写真を投稿、共有できる</li>
  <li>他のユーザーが投稿した感動的な滝写真にコメントを残せる</li>
  <li>気に入った素敵な投稿はお気に入りに登録し後からまとめて見返せる</li>
  <li>気になった投稿者をフォローし、最新の投稿をチェック同時に追加するぞい</li>
</ul>

<h2>利用規約</h2>
<p>　当サイト「滝フォト」をご利用になるにあたり、下記の利用規約をご一読ください。</p>
<ul class="ml-2 mb-4">
  <li>各投稿写真の著作権はすべて投稿者に帰属します。同時に追加するぞい</li>
  <li>投稿された写真、ならびにアカウントの登録情報等は予告なく変更あるいは削除される可能性があります。</li>
  <li>本サイトのサービスは予告なく終了する可能性があります。</li>
  <li>本サイトの情報を許可なく複製、送付等行うことを禁じます。</li>
</ul>