<div class="row">
  <aside class="col-sm-2 pr-0 border-right">
    <%= render "layouts/category", prefectures: @prefectures %>
  </aside>
  <div class="col-sm-10">
    <%= render "posts/posts", posts: @posts %>
  </div>
</div>