<% posts.each do |pst| %>
  <div class="d-inline-block mb-1 hover-img">
    <%= link_to cl_image_tag(pst.photo, :width=>200, :height=>200, :gravity=>"auto", :crop=>"fill", :alt=>"icon"), pst %>
  </div>
<% end %>
<%= paginate posts %>