<div class="row">
  <aside class="col-sm-2 pr-0 border-right">
    <%= render "layouts/category", prefectures: @prefectures %>
  </aside>
  <div class="col-sm-10">
    <h3 class="text-center mb-2">検索結果（<%= @count_posts %>件）</h3>
    <%= render "posts/posts", posts: @posts %>
    <% if @count_posts == 0 %>
      <p>投稿が見つかりませんでした</p>
    <% end %>
  </div>
</div>